{% extends "admin_layout.html" %} {% block body %}
<!-- Page Wrapper -->
<div id="wrapper">
  <!-- Sidebar -->
  {% include "includes/_sidebar.html" %}
  <!-- End Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
      <!-- Topbar -->
      {% include "includes/_topnavbar.html" %}
      <!-- End of Topbar -->
      <div class="container" style="margin-left: 175px;">
        <div class="col-8">
          {% include "includes/_messages.html" %}
          <h3>Update Product</h3>
          <form
            method="POST"
            action="{{url_for('admin.update_product', product_id=found_product.product_id)}}"
            enctype="multipart/form-data"
          >
            <div class="form-group row mt-5">
              <span class="col-2 mr-2 align-items-center">Photo</span>
              <input
                class="btn form-control-file col-8"
                type="file"
                name="photo"
                accept="image"
                placeholder="choose a file"
              />
            </div>
            <div class="form-group row">
              <span class="col-2 mr-2 align-items-center">Name</span>
              <input
                required
                name="name"
                id="name"
                class="form-control col-8"
                value="{{found_product.name}}"
              />
            </div>
            <div class="form-group row">
              <span class="col-2 mr-2 align-items-center">Description</span>
              <textarea
                required
                name="description"
                class="form-control col-8"
                id="description"
              >
{{found_product.description}}</textarea
              >
            </div>
            <div class="form-group row">
              <span class="col-2 mr-2 align-items-center">Price</span>
              <input
                required
                type="number"
                name="price"
                class="form-control col-8"
                id="price"
                value="{{found_product.price}}"
              />
            </div>
            <div class="form-group row">
              <span class="col-2 mr-2 align-items-center">Category</span>
              <select
                required
                class="form-control col-8"
                name="category"
                id="category"
              >
                <option>{{found_product.category}}</option>
                {% for category in all_categories %} {% if category.name !=
                found_product.category %}
                <option>{{category.name}}</option>
                {% endif %}{% endfor %}
              </select>
            </div>
            <div class="form-group row">
              <span class="col-2 mr-2 align-items-center">Stock</span>
              <input
                required
                type="number"
                name="stock"
                class="form-control col-8"
                id="stock"
                value="{{found_product.stock}}"
              />
            </div>

            <button type="submit" class="btn btn-outline-primary my-3">
              Update Product
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
