<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% include "includes/_static_files.html" %}
</head>
<body>

    <div class="container">
        <div class="mt-2 mb-3" style="display:flex; justify-content: center;">
            <img height="150" width="auto" src="{{url_for('static',filename='images/logo.jpg')}}" alt="">
        </div>
        
        <div class="row">
            <div class="col-lg-4">

            </div>
            <div class="col-lg-4">
                <form action="{{url_for('login')}}" method="POST">
                <div class="checkout__order text-center">
                    
                    <h4>Login</h4>
                    <div class="checkout__input">
                        
                        <input type="text" name="user_id" placeholder="Email ID / UserID" class="checkout__input__add">
                        <input type="password" name="password" placeholder="Password">
                    </div>
                    
                   
                    
                    
                    <button type="submit" class="site-btn">LOG IN</button>
                    
                    <p class="mt-2">Not registered? <a href="{{url_for('signup')}}">Register</a></p>
                    {% include "includes/_messages.html" %}
                </div>
                </form>
                
                
            </div>
            <div class="col-lg-4">
                
            </div>
        </div>
        
    </div>
    
</body>
</html>